@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  font-family: 'Libre Baskerville', serif;
}

::-webkit-scrollbar {
  background: #1C1C1C;
  border: 1px solid #fff;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #1C1C1C;
}

::-webkit-scrollbar-track {
  background: white;
}

/* link style of */
.Link:focus {
  border-bottom: 2px solid #1C1C1C;
  width: auto;
}
.scrollbar-medium::-webkit-scrollbar {
  width: 5px
}

/* HERO BANNER */



/* ABOUT PAGE */

/* about author component */
.poppins {
  font-family: 'Poppins', sans-serif;
}

